$myColor: red;

* {
  font-family: monospace;
  font-weight: bold;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: rgb(212, 212, 212);
}

.parent-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;

  background-color: rgb(242, 242, 242);

}

.drumpad-container {
  display: grid;
  width: 350px;
  height: 350px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.drumpad-button {
  height: 100px;
  width: 100px;
  border: black solid 1px;
}

.controls-container {
  border: blue solid 1px;
  display: flex;
  width: 350px;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.display-container {
  border-top: black solid 7px;
  border-bottom: black solid 7px;
  border-left: black solid 16px;
  border-right: black solid 16px;
  background-color: rgb(74, 136, 222);
  color: white;
  
  width: 300px;
  height: 50px;
  text-align: center;

  p {
    margin: 0;
  }
  
}

.volume-container {
  border: black solid 1px;
  height:fit-content;
}