$myColor: red;

* {
  font-family: monospace;
  font-weight: bold;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: rgb(212, 212, 212);
}

.parent-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;

  background-color: rgb(242, 242, 242);

}

.drumpad-container {
  display: grid;
  width: 350px;
  height: 350px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.drumpad-button {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  box-shadow: 3px 3px grey;

  background-color: rgb(57, 57, 57);
  color: whitesmoke;
}

.controls-container {
  display: flex;
  width: 350px;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  
}

.logo-container {
  display: flex;
  height: 30%;
  

  align-items: flex-end;
  padding-left: 75%;
  padding-bottom: 10px;
  
  #akai-logo {
    height: 15px;
  }
}

.display-container {
  border-top: black solid 7px;
  border-bottom: black solid 7px;
  border-left: black solid 16px;
  border-right: black solid 16px;
  background-color: rgb(74, 136, 222);
  color: white;
  
  width: 300px;
  height: 50px;
  text-align: center;

  p {
    margin: 0;
  }
  
}

.volume-container {
  height: 30%;
}